@font-face {
    font-family: 'Bebas Neue';
    src: url('./BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('./Oswald-VariableFont_wght.ttf') format('truetype');
}

.nav-container {
    margin: 0px 100px;
}

section {
    padding: 100px 0px;
}

@media screen and (max-width: 768px) {
    .nav-container {
        margin: 0px 0px;
    }
    
    section {
        padding: 50px 0px;
    }
}

.center {
    text-align: center;
}

#hero {
    background-image: url(./img/twpp-slider-bg.jpg);
    color: white;
}

#whatwedo p{
    font-size: 1.2rem;
}

.blue-h2{
    color: #1b75bb;
}

.orange-h1{
    color: #f47b2b;
}

.thinner{
    font-weight: 400;
}

#coverage {
    background-color: #1b75bb;
    color: white;
}

#coverage p {
    margin-bottom: 8px;
}

.benefits-column > :nth-child(odd){
    background-color: #14588c;
}

.benefits-item {
    padding: 12px;
    margin: 32px;
}

.benefits-item > :first-child{
    font-weight: 700;
    padding-bottom: 16px;
}

.benefits-item > :last-child{
    font-weight: 400;
}

#about h1{
    color: #f47b2b;
    font-weight: 400;
}

#contact {
    background-color: #f47b2b;
    color: white;
}

#contact h1{
    text-transform: uppercase;
}

#contact p{
    margin-bottom: 4px;
}